
<div class="container-fluid" style="margin-left: 30px; margin-right: 30px; margin-top: 45px;">
    <div class="row terms-and-conditions-section">
      <div class="col-xs-12 text-center">
        <h1 class="title">Information about us</h1>
      </div>
        <img style="width: 150px;" src="https://media-cdn.tripadvisor.com/media/photo-s/0c/48/01/58/starbucks-coffee-shop.jpg">
        <img style="width: 150px; height:86px;" hspace="20" src="https://cdn.vox-cdn.com/thumbor/KbnTFp7Bwl7jn5Jssu-IffIstoM=/0x0:6000x4000/1200x800/filters:focal(1463x1566:2423x2526)/cdn.vox-cdn.com/uploads/chorus_image/image/65808525/shutterstock_1391647442.0.jpg">
          <p>
            Starbucks locations serve hot and cold drinks, whole-bean coffee, microground instant coffee known as VIA, espresso, caffe latte, full- and loose-leaf teas including Teavana tea products, Evolution Fresh juices, Frappuccino beverages, La Boulange pastries, and snacks including items such as chips and crackers; some offerings (including their annual fall launch of the Pumpkin Spice Latte) are seasonal or specific to the locality of the store. 
          </p>
          <p>
            Many stores sell pre-packaged food items, hot and cold sandwiches, and drinkware including mugs and tumblers; select "Starbucks Evenings" locations offer beer, wine, and appetizers.
          </p>
          <p>
            Starbucks-brand coffee, ice cream, and bottled cold coffee drinks are also sold at grocery stores.
          </p>
    </div>
</div>
