  <div class="container-fluid" style="margin-left: 30px; margin-right: 30px; margin-top: 45px;">
    <div class="row terms-and-conditions-section">
      <div class="col-xs-12 text-center">
        <h1 class="title">Terms and Conditions</h1>
      </div>
          <p>
            You must comply with all applicable GitHub policies and terms of service. Xmartlabs is not responsible for any acts or omissions of GitHub whether related to your account or otherwise.
          </p>
          <p>
            Xmartlabs reserves the right to enforce quotas and usage limits (to any resources, including the API) at its sole discretion, with or without notice, which may result in Xmartlabs disabling or throttling your usage of the Service for any amount of time.
          </p>
          <p>
            You are responsible for obtaining access to Project Hub and that access may involve third party fees (such as Internet service provider or airtime charges). In addition, you must provide and are responsible for all equipment necessary to access the Site.
          </p>
          <p>
            To cancel your subscription, account, and access to Project Hub, send us an email at <a href="mailto:hi@tryprojecthub.com?Subject=Cancel+Subscription">hi@tryprojecthub.com</a> instructing us to do so or cancel via the functionality on the Waffle website. If you paid for your subscription, Xmartlabs is not obligated to provide any refunds if you cancel your subscription or if Xmartlabs terminates your subscription because you breached these Terms.
          </p>
    </div>
</div>