<div class="container-fluid" style="margin-left: 30px; margin-right: 30px; margin-top: 45px;">
    <div class="row terms-and-conditions-section">
      <div class="col-xs-12 text-center">
        <h1 class="title">Products</h1>
      </div>
        <p>Coffee #1</p>
        <p>Price: 1$</p>
        <img style="width: 150px; float: right; margin: -70px 0px 0px 0px;" src="https://globalassets.starbucks.com/assets/d8a97adbb0ed499aa0603d5a91175c97.jpg">
        <p style="margin-top: 120px;">Coffee #2</p>
        <p>Price: 1$</p>
        <img style="width: 150px; float: right; margin: -70px 0px 0px 0px;" src="https://globalassets.starbucks.com/assets/1c4f9f7226a045df8eae89e5ec42f899.jpg">
        <p style="margin-top: 120px;">Coffee #3</p>
        <p>Price: 1$</p>
        <img style="width: 150px; float: right; margin: -70px 0px 0px 0px;" src="https://globalassets.starbucks.com/assets/9f722da903ca429b9b8d7599f5273d04.jpg">
    </div>
</div>